*{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  background: url("https://bradmartin333.github.io/images/sky.JPG");
  background-size: 100% 100%;
}

/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
  }
}

/* Put long posts where a paragraph should be */
iframe {
  width:100%;
  height:500px;
}

/* Tile buttons in a form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Make larger buttons */
input {
  background-color: "#707070";
  font-size: 18px;
}