body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #b0e0e6;
    /* Light Blue */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffa07a;
    /* Light Salmon */
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

nav {
    background-color: #90ee90;
    /* Light Green */
    padding: 10px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border: 2px dashed #808080;
    /* Gray Dashed Border */
}

ul {
    list-style-type: square;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    margin: 10px;
    border: 4px double #000;
}

footer {
    background-color: #ffa07a;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

.pixel-fish {
    width: 100px;
}

.cartoon-fish {
    width: 300px;
}

.rainbow-text {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

dotlottie-player {
    margin: 0 auto;
}