body {
    background: linear-gradient(90deg, #ddd, #fff);
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 8vh;
    width: 80vw;
    height: 80vh;
    color: whitesmoke;
    text-align: center;
    background: linear-gradient(135deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    --mask:
        linear-gradient(#000 0 0) 50%/calc(100% - 20px) calc(100% - 20px) no-repeat,
        radial-gradient(farthest-side, #000 98%, #0000) 0 0/50px 50px round;
}

.overlay {
    position: absolute;
    top: 50%;
    z-index: 1;
}