@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="background" style="height: 100vh; width: 100vw">
    <h1 class="display-4">Page @ViewData["TimeStamp"]</h1>
</div>

<script>
    var i = 0;
    function change() {
      var doc = document.getElementById("background");
      var color = ["black", "blue", "brown", "green"];
      doc.style.backgroundColor = color[i];
      i = (i + 1) % color.length;
    }
    setInterval(change, 1000);
</script>
