html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div {
    height: 30px;
    display: table;
    width: 100%;
    text-align: center;
}

div > h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}