.container {
  width: 100%;
  height: 350px;
  background-color: #000000;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.item {
  --scale-value: 1;
  --transX-value: 0px;
  --transY-value: 0px;
  width: 95px;
  height: 95px;
  position: absolute;
  left: var(--transX-value);
  top: var(--transY-value);
  background-color: #FFFFFF;
  border: 5px solid #A8A8A8;
  border-radius: 50%;
  transform: scale3d(var(--scale-value), var(--scale-value), 1);
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
}
.item:active {
  border-color: #747474;
  background-color: #F2F5EA;
}
.item:hover {
  cursor: pointer;
}